@media (max-width: 768px) {
  .content__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 35px;
  }
}

@media (max-width: 500px){
    .content__text{
        font-size: 16px;
    }
    .content__text p {
        margin-bottom: 20px;
    }
}
