html,
body{
    height: 100%;
}

.main__container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main{
    flex: 1 0 auto;
}

.content{
    padding-top: 50px;
}

.content__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 45px;
}

.content__text{
    font-size: 18px;
    line-height: 24px;
}

.content__text p{
    margin-bottom: 30px;
}

.list-item{
    margin-bottom: 20px;
    position: relative;
    padding-left: 25px;
}

.list-item span{
    font-weight: 600;
}

.list-item::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #a4c58c;
    top: 7px;
    left: 0;
}

.data-item{
    margin: 5px 0;
    position: relative;
    padding-left: 20px;
}

.data-item::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ccc;
    top: 7px;
    left: 0;
}

.footer{
    flex: 0 0 auto;
}