@media (max-width: 1120px){
    .footer__item+.footer__item {
        padding-left: 20px;
    }
}

@media (max-width: 1030px){
    .footer {
        padding: 40px 0px;
    }
    .footer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__item+.footer__item {
        padding-left: 0;
        padding-top: 10px;
    }
}

@media (max-width: 768px){
    .header__delivery {
        font-size: 14px;
    }
}

@media (max-width: 680px){
    .footer__inner {
        justify-content: center;
        min-height: 0px;
    }
    .footer .logo {
        display: none;
    }
    .footer .contacts {
        display: none;
    }
}

@media (max-width: 660px){
    .header__delivery {
        display: none;
    }
}

@media (max-width: 500px){
    .footer {
        padding: 25px 0px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 25px 0px;
    }
    .logo img {
        width: 115px;
    }
    .contacts__phone {
        background: none;
    }
    .contacts__phone a {
        font-size: 14px;
    }
    .contacts__decription {
        display: none;
    }
}