*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #303030;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}

button {
    border: none;
}

.main__container {
    max-width: 1720px;
    margin: 0px auto;
}

.container {
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__delivery {
    padding-left: 25px;
    color: #9a9a9a;
    font-size: 16px;
}

.contacts__phone {
    padding-left: 30px;
    background-image: url('../img/phone.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.contacts__phone a {
    font-weight: 500;
    font-size: 20px;
    color: #303030;
    text-decoration: none;
}

.contacts__decription {
    font-size: 12px;
    line-height: 18px;
    color: #9a9a9a;
    text-align: right;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}

.footer__item {
    display: inline-block;
}

.footer__item a {
    color: #9a9a9a;
    font-size: 12px;
    border-bottom: 1px solid #9a9a9a;
}

.footer__item+.footer__item {
    padding-left: 55px;
}