@media (max-width: 1760px) {
    .quote__wrapper-1 {
        background: none;
        min-height: 0px;
    }
    .quote__wrapper-2 {
        background: none;
        min-height: 0;
    }
}

@media (max-width: 1195px) {
    .causes__img {
        position: absolute;
        left: 0;
        max-width: 52%;
    }
    .causes__inner {
        justify-content: flex-end;
    }
}

@media (max-width: 1095px) {
    .causes__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .causes__image {
        width: 100%;
    }
    .causes__box {
        position: static;
    }
    .causes__content {
        padding-top: 0;
        max-width: 720px;
        width: 100%;
        margin-bottom: 10px;
    }
    .causes__inner {
        justify-content: center;
    }
    .causes__title {
        text-align: center;
    }
    .causes__list-title {
        text-align: center;
    }
    .list__item {
        max-width: 490px;
        width: 100%;
    }
    .causes__img {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 620px;
    }
}

@media (max-width: 1180px) {
    .anatomy__wrapper {
        padding-bottom: 713px;
    }
    .anatomy__layout {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .anatomy .block__inner {
        left: 50%;
        transform: translateX(-50%);
    }
    .anatomy__inner {
        justify-content: center;
    }
    .anatomy__title {
        max-width: 485px;
        margin: 0px auto;
        margin-bottom: 45px;
        text-align: center;
    }
}

@media (max-width: 1160px) {
    .reviews__inner {
        padding: 0 10px;
        padding-left: 20px;
    }
}

@media (max-width: 1150px) {
    .facts__inner {
        padding: 0px 70px;
        justify-content: space-around;
    }
    .fact {
        width: 35%;
        min-width: 260px;
    }
}

@media(max-width: 1120px) {
    .history {
        padding-top: 0;
        padding-bottom: 430px;
    }
    .history__wrapper {
        background: #f6f9f3;
        padding-top: 250px;
        z-index: -1;
    }
    .history__img {
        display: none;
    }
    .history__box {
        position: static;
    }
    .history__wrapper {
        min-height: 1px;
    }
    .history__inner {
        padding-top: 0px;
    }
    .history__title {
        margin: 0px auto;
        text-align: center;
        margin-bottom: 40px;
    }
    .history__text {
        max-width: 100%;
        padding: 0px 20px 100px;
    }
    .history__bottom {
        position: absolute;
        width: 100%;
        display: flex;
        left: 0;
        justify-content: space-around;
        padding: 0 10px;
    }
    .history__form {
        margin-left: 0;
    }
    .history__bottom img {
        display: block;
        max-width: 400px;
        margin-top: -55px;
    }
}

@media (max-width: 1095px) {
    .warranty__box {
        padding-left: 0;
        padding-right: 0;
    }
    .warranty__certificate {
        margin-top: -210px;
    }
    .warranty__certificate img {
        max-width: 350px;
    }
}

@media (max-width: 1060px) {
    .composition__row-title {
        flex-direction: column-reverse;
        align-items: center;
    }
    .composition__item-wrapper {
        max-width: 100%;
        justify-content: space-between;
    }
    .composition__content {
        max-width: 600px;
        margin-bottom: 15px;
    }
    .composition__title {
        max-width: 100%;
        text-align: center;
    }
    .composition__title span {
        padding-right: 0;
    }
    .composition__item {
        max-width: 370px;
        min-height: 370px;
        max-height: 370px;
        border-width: 20px;
    }
    .composition__row-main {
        justify-content: space-around;
    }
    .composition__item-wrapper {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .composition__item-text {
        max-width: 125px;
        padding: 0;
        margin-left: 40px;
        padding-top: 127px;
        font-size: 17px;
    }
}

@media (max-width: 1040px) {
    .set__item {
        min-height: 0;
    }
    .set .block__inner {
        padding: 12px;
    }
    .set__item+.set__item .block__inner {
        padding-left: 0;
    }
}

@media (max-width: 1030px) {
    .reviews__item {
        max-width: 400px;
    }
    .create__bg {
        background-position: right center;
    }
}

@media (max-width: 1015px) {
    .composition .block__inner {
        padding-top: 20px;
    }
    .composition .block__content-wrapper {
        padding: 15px 30px 0px 30px;
    }
    .composition .block__content {
        margin-bottom: 0;
    }
}

@media (max-width: 990px) {
    .create {
        padding-top: 175px;
    }
    .create__bg {
        display: none;
    }
    .create__content {
        position: static;
    }
    .create__inner {
        min-height: auto;
        justify-content: center;
    }
}

@media (max-width: 930px) {
    .more__inner {
        position: relative;
    }
    .bitter__image {
        position: absolute;
        left: 15px;
        top: 0;
        z-index: 3;
    }
    .more__content {
        right: 15px;
        top: 0;
        position: absolute;
        max-width: 570px;
        width: 100%;
        z-index: 10;
        padding-top: 25px;
    }
    .more__content-box::after {
        content: '';
        clear: both;
        display: block;
    }
    .more__content-inner {
        max-width: 360px;
        padding-right: 85px;
        width: 100%;
        float: right;
    }
    .more__title {
        margin-bottom: 30px;
    }
    .more__name {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .more__text {
        padding-right: 45px;
        font-size: 16px;
        margin-bottom: 65px;
    }
    .warranty__text {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .warranty__certificate {
        margin-top: 0;
    }
    .warranty__certificate img {
        max-width: 300px;
    }
}

@media(max-width: 925px) {
    .set .block__container {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .set__item-number {
        font-size: 130px;
        letter-spacing: 0.5px;
    }
    .set__item-name {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    .reviews__desk {
        display: none;
    }
    .reviews__block {
        flex-direction: column;
        align-items: center;
    }
    .reviews__item {
        max-width: 470px;
    }
    .reviews__tab[data-id="russian"] {
        padding-left: 40px;
        padding-right: 40px;
    }
    .reviews__tab[data-id="foreign"] {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 850px) {
    .history {
        padding-bottom: 370px;
    }
    .history__bottom {
        justify-content: space-between;
    }
    .history__bottom img {
        max-width: 350px;
    }
    .history__form {
        margin-left: 15px;
    }
}

@media (max-width: 830px) {
    .set {
        background: #f6f9f3;
        padding-top: 95px;
    }
    .set__title {
        margin-left: auto;
        margin-right: auto;
        max-width: 590px;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 40px;
    }
    .set__inner {
        transform: none;
    }
    .set__content {
        padding-bottom: 95px;
    }
    .set .block__container {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .set img {
        width: 70px;
    }
    .set__item-number {
        font-size: 110px;
        line-height: 100px;
        margin-bottom: 20px;
    }
    .set__item-name {
        font-size: 10px;
        line-height: 15px;
    }
    .composition .block__content-wrapper {
        padding: 75px 30px 0px 30px;
    }
    .composition .block__content {
        padding-left: 0;
    }
    .composition .block__content p:last-child {
        display: none;
    }
    .composition .block__content p {
        margin: 0;
    }
    .composition .block__content::before {
        display: none;
    }
    .composition .block__container {
        min-height: 330px;
        max-height: 330px;
        position: relative;
    }
    .composition__btn {
        float: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding-left: 10px;
        padding-right: 0;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .quote__content {
        max-width: 725px;
    }
    .quote__text {
        font-size: 18px;
        line-height: 36px;
        max-width: 525px;
        margin-left: auto;
        margin-right: auto;
    }
    .quote__name {
        font-size: 16px;
    }
    .quote__data {
        font-size: 12px;
    }
    .reviews__link {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .more {
        margin-bottom: 70px;
    }
    .anatomy {
        padding-top: 130px;
    }
    .anatomy__title {
        max-width: 340px;
        font-size: 30px;
        line-height: 40px;
    }
    .item:hover::after {
        display: none;
    }
    .anatomy__btn {
        max-width: 415px;
        float: none;
        display: block;
        text-align: center;
        margin: 0px auto;
        padding-right: 0;
        padding-left: 25px;
    }
    .causes {
        padding-top: 140px;
    }
    .causes__content {
        max-width: 540px;
        margin-bottom: 30px;
    }
    .causes__title {
        font-size: 30px;
        line-height: 40px;
    }
    .causes__list-title {
        margin-bottom: 35px;
    }
    .list__item {
        margin-bottom: 20px;
    }
    .history__wrapper {
        padding-top: 210px;
    }
    .history__title {
        font-size: 30px;
        line-height: 40px;
        max-width: 425px;
    }
    .history__text {
        padding-left: 10px;
        padding-right: 19px;
    }
    .history__form {
        max-width: 285px;
        margin-left: 3%;
    }
    .quote__inner {
        padding-top: 100px;
    }
    .composition {
        padding-top: 100px;
    }
    .composition__content {
        max-width: 500px;
        margin-bottom: 0;
    }
    .composition__title {
        font-size: 30px;
        line-height: 40px;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .composition__row-info {
        flex-direction: row-reverse;
    }
    .composition__row-main,
    .composition__item-wrapper {
        justify-content: space-between;
    }
    .reviews {
        padding-top: 140px;
    }
    .reviews__title {
        font-size: 30px;
        line-height: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 500px;
    }
    .reviews__title span {
        display: inline;
    }
    .reviews__tab[data-id="russian"] {
        padding-left: 30px;
    }
    .reviews__tab[data-id="foreign"] {
        padding-left: 45px;
        padding-right: 30px;
    }
    .reviews__content {
        padding-top: 45px;
    }
    .reviews__item {
        margin-bottom: 55px;
    }
    .reviews__btns {
        background: #f6f9f3;
        padding-top: 10px;
        padding-bottom: 75px;
    }
    .reviews__btns-inner {
        flex-direction: column;
        justify-content: flex-start;
    }
    .reviews__link {
        margin-bottom: 25px;
        margin-right: 0;
    }
    .create {
        padding-top: 45px;
    }
    .create .block__inner {
        padding: 20px 10px;
    }
    .warranty {
        padding-top: 120px;
    }
    .warranty__wrapper {
        padding-bottom: 70px;
    }
    .warranty__title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
    }
    .warranty__text {
        margin-bottom: 35px;
    }
    .warranty__inner {
        flex-direction: row-reverse;
    }
    .warranty__certificate {
        margin-left: 0;
        margin-right: 30px;
    }
    .warranty__certificate img {
        max-width: 280px;
    }
    .warranty .block__content {
        padding: 70px 10px 0px 25px;
        margin-bottom: 70px;
    }
    .warranty__btn {
        float: none;
        display: block;
        text-align: center;
    }
}

@media (max-width: 760px) {
    .composition__item {
        border-width: 15px;
        max-width: 300px;
        min-height: 300px;
        max-height: 300px;
    }
    .composition__item-text {
        font-size: 14px;
        max-width: 103px;
        margin-left: 30px;
        padding-top: 98px;
    }
}

@media (max-width: 740px) {
    .more__content-inner {
        padding-right: 20px;
        max-width: 290px;
    }
    .bitter__image img {
        width: 200px;
    }
    .facts__inner {
        padding-left: 50px;
        padding-right: 0;
        justify-content: space-between;
    }
}

@media (max-width: 730px) {
    .warranty__certificate {
        margin-right: 15px;
    }
    .warranty__btn {
        padding-left: 0;
        padding-right: 0;
    }
    .warranty__btn span {
        padding-right: 0;
    }
    .warranty__btn span::after {
        display: none;
    }
}

@media (max-width: 700px) {
    .set__content {
        padding-bottom: 0;
    }
    .set__inner {
        flex-direction: column;
        align-items: center;
    }
    .set__item {
        max-width: 100%;
    }
    .set .block__inner {
        padding: 0;
        background: none;
    }
    .set .block__container {
        padding: 0;
        border: none;
        padding-bottom: 70px;
    }
    .set__item-number {
        color: #fff;
        font-size: 150px;
        line-height: 115px;
        margin-bottom: 25px;
    }
    .set__item-name {
        font-size: 14px;
    }
    .set img {
        width: auto;
    }
}

@media (max-width: 680px) {
    .fact {
        padding-left: 0;
    }
    .fact::before {
        display: none;
    }
    .fact__title {
        font-size: 24px;
    }
    .history__form {
        margin-left: 0;
    }
}

@media (max-width: 675px) {
    .warranty__inner {
        flex-direction: column-reverse;
        align-items: center;
    }
    .warranty__certificate {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .warranty .block__content {
        padding-top: 40px;
        margin-bottom: 45px;
    }
}

@media (max-width: 660px) {
    .group__inner {
        flex-wrap: wrap;
    }
    .anatomy__list-group {
        flex: none;
        width: 100%;
    }
    .anatomy__list-group+.anatomy__list-group .item {
        padding-left: 0px;
        border-left: 0;
    }
    .history__bottom img {
        max-width: 285px;
    }
    .history {
        padding-bottom: 290px;
    }
    .composition .block__content-wrapper {
        padding: 25% 10px 0px 10px;
        text-align: center;
    }
    .composition__btn {
        padding-right: 0;
        padding-left: 0;
    }
    .composition__btn span {
        padding-right: 0;
    }
    .composition__btn span::after {
        display: none;
    }
}

@media (max-width: 624px) {
    .more__img {
        min-height: 436px;
    }
    .more__wrapper {
        margin-top: -436px;
        min-height: 436px;
    }
    .more__inner {
        flex-direction: column-reverse;
    }
    .bitter__image {
        position: static;
        text-align: center;
        margin-bottom: 30px;
    }
    .bitter__image img {
        width: 85px;
    }
    .more__content {
        position: static;
        max-width: 100%;
        padding-top: 30px;
    }
    .more .block__inner,
    .more__text {
        display: none;
    }
    .more__content-inner {
        float: none;
        text-align: center;
        max-width: 165px;
        padding: 0;
        margin: 0 auto;
    }
    .more__title {
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 12px;
    }
    .more__name {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 25px;
    }
    .more__btn-mobile {
        padding: 22px 0;
        display: block;
        text-align: center;
    }
    .create .block__inner {
        padding: 20px 0px;
    }
    .create .block__container {
        padding-left: 35px;
        padding-bottom: 55px;
        padding-right: 25px;
    }
}

@media (max-width: 620px) {
    .causes__image {
        background: none;
        min-height: auto;
    }
    .causes__image img {
        display: block;
    }
    .causes__img .block__inner {
        bottom: none;
        top: 100%;
        text-align: center;
        padding: 0;
    }
    .causes .block__container {
        border: none;
    }
    .causes .block__content {
        padding: 40px;
    }
    .causes__btn {
        display: block;
        text-align: center;
    }
    .causes__btn span {
        padding-right: 0;
    }
    .causes__btn span::after {
        display: none;
    }
    .history {
        padding-top: 196px;
        background: none;
    }
    .history__wrapper {
        padding-top: 100px;
        background: #f6f9f3;
    }
    .composition__wrapper {
        padding-bottom: 65px;
        position: relative;
    }
    .composition__row-main,
    .composition__item-wrapper {
        justify-content: center;
    }
    .composition__row-info {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .composition__item {
        margin-bottom: 12px;
        max-width: 370px;
        min-height: 370px;
        max-height: 370px;
        border: none;
    }
    .composition__item-text {
        max-width: 125px;
        margin-left: 58px;
        padding-top: 148px;
        font-size: 17px;
    }
    .composition .block__inner {
        padding: 0;
    }
    .composition .block__container {
        min-height: 0px;
        max-height: none;
        border: none;
        position: static;
    }
    .composition .block__content-wrapper {
        padding: 45px 40px 0px;
        margin-bottom: 50px;
    }
    .composition__btn {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media (max-width: 615px){
    .modal .input-wrapper{
        padding: 0 25px;
    }
}

@media (max-width: 600px) {
    .history__bottom {
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding: 0;
    }
    .history__bottom:after {
        content: '';
        display: block;
        clear: both;
        margin-bottom: 10px;
    }
    .history__bottom img {
        max-width: 100%;
        margin-top: 0;
    }
    .history__text {
        padding-bottom: 40px;
    }
    .history__form {
        padding: 0px 10px;
        padding-top: 30px;
        max-width: 100%;
        text-align: center;
        padding-bottom: 60px;
        position: relative;
    }
    .history__btn {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
    }
    .history__form-title {
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .history__input{
        text-align: center;
    }
    .history__input::-webkit-input-placeholder {
        text-align: center;
    }
    .history__input:-moz-placeholder {
        /* Firefox 18- */
        text-align: center;
    }
    .history__input::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center;
    }
    .history__input:-ms-input-placeholder {
        text-align: center;
    }
}

@media (max-width: 590px) {
    .facts__inner {
        justify-content: center;
    }
    .fact {
        width: 60%;
    }
}

@media (max-width: 580px) {
    .reviews__btn {
        text-align: center;
    }
    .reviews__btn span {
        padding-right: 0;
    }
    .reviews__btn span::after {
        display: none;
    }
}

@media (max-width: 550px) {
    .create {
        padding-top: 65px;
    }
    .create__wrapper {
        position: relative;
        padding-bottom: 72px;
    }
    .create .block__inner {
        padding: 0;
    }
    .create .block__container {
        padding: 0;
        border: none;
    }
    .create__title {
        text-align: center;
    }
    .create__btn {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .modal .block__container{
        padding: 20px 15px 62px;
    }
    .modal__text{
        text-align: center;
        line-height: 18px;
    }
    .modal__btn,
    .modal-more .more__btn{
        width: 100%;
        left: 0;
        text-align: center;
        padding-left: 30px;
        padding-right: 0;
    }
}

@media (max-width: 545px) {
    .quote__inner {
        padding-bottom: 60px;
    }
    .quote__content {
        max-width: 100%;
        padding: 0;
        border: none;
    }
    .quote__text {
        max-width: 100%;
    }
}

@media (max-width: 540px){
    .modal-reviews .reviews__tab{
        padding: 15px 0;
    text-align: center;
    font-size: 10px;
    }

    .modal-reviews .reviews__tab[data-id="russian"]{
        padding-right: 15px; padding-left: 5px;
    }
    .modal-reviews .reviews__tab[data-id="foreign"]{
        padding-left: 15px; padding-right: 5px;
    }
}

@media(max-width: 500px) {
    .more {
        margin-bottom: 50px;
    }
    .anatomy {
        padding-top: 50px;
    }
    .anatomy__wrapper {
        padding-bottom: 0;
    }
    .anatomy__list {
        margin-bottom: 10px;
    }
    .anatomy__list-group+.anatomy__list-group .item:last-child {
        border-bottom: none;
    }
    .anatomy__layout {
        position: static;
        padding-bottom: 0px;
    }
    .anatomy__layout-inner {
        display: none;
    }
    .item {
        padding-right: 10px;
    }
    .anatomy__list-group .item {
        padding-right: 10px;
    }
    .anatomy__list-group .item__text {
        padding-left: 15px;
    }
    .anatomy .block__inner {
        position: static;
        padding-left: 0px;
        padding-right: 0px;
        transform: none;
        margin: 0px auto;
    }
    .anatomy__layout-link {
        left: 50%;
        transform: translate(-50%, 40%);
    }
    .anatomy__btn {
        padding-left: 0;
        max-width: 100%;
        position: absolute;
        width: 100%;
        left: 0;
    }
    .anatomy__btn span {
        padding-right: 0;
    }
    .anatomy__btn span::after {
        display: none;
    }
    .causes {
        padding-top: 125px;
    }
    .causes__content {
        margin-bottom: 10px;
    }
    .causes__title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .causes__list-title {
        font-size: 12px;
        margin-bottom: 25px;
    }
    .list__item {
        font-size: 14px;
    }
    .causes .block__content {
        font-size: 14px;
    }
    .causes__btn {
        display: none;
    }
    .causes__btn-mobile {
        display: block;
    }
    .history {
        padding-top: 190px;
    }
    .history__wrapper {
        z-index: -1;
        padding-top: 90px;
    }
    .history__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
        max-width: 275px;
    }
    .history__text {
        font-size: 14px;
        padding: 0;
        padding-bottom: 10px;
    }
    .history__form {
        padding-top: 25px;
    }
    .history__form-title {
        max-width: 230px;
    }
    .history__btn {
        font-size: 12px;
    }
    .history__btn span {
        padding: 0;
    }
    .history__btn span::after {
        display: none;
    }
    .quote__inner {
        padding-top: 55px;
    }
    .quote__text {
        font-size: 14px;
        line-height: 24px;
    }
    .quote__name {
        font-size: 14px;
        line-height: 18px;
        max-width: 150px;
        margin: 0 auto;
    }
    .quote__data {
        display: block;
        margin-top: 10px;
    }
    .set {
        padding-top: 55px;
    }
    .set__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    .set .block__container {
        padding-bottom: 65px;
    }
    .set__item-number {
        font-size: 130px;
        margin-bottom: 20px;
    }
    .set__item-name {
        font-size: 12px;
    }
    .composition {
        padding-top: 75px;
    }
    .composition__content {
        margin-bottom: 15px;
    }
    .composition__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .composition__content-item {
        font-size: 14px;
        margin-bottom: 15px;
        padding-right: 15px;
    }
    .composition__item {
        max-width: 300px;
        min-height: 300px;
        max-height: 300px;
    }
    .composition__item-text {
        font-size: 14px;
        max-width: 103px;
        margin-left: 38px;
        padding-top: 112px;
    }
    .composition__btn {
        font-size: 12px;
    }
    .reviews {
        padding-top: 60px;
    }
    .reviews__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .reviews__tab {
        padding: 15px 0px;
        text-align: center;
        font-size: 10px;
    }
    .reviews__content {
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .reviews__item {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .reviews__text {
        margin-bottom: 5px;
    }
    .reviews__btns {
        padding-top: 0;
        position: relative;
        padding-bottom: 72px;
    }
    .reviews__link {
        margin-bottom: 30px;
    }
    .reviews__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 15px 52px;
        font-size: 12px;
        width: 100%;
    }
    .create {
        padding-top: 60px;
    }
    .create__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .create__text {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .create__desc {
        text-align: center;
        font-size: 12px;
        margin-bottom: 40px;
    }
    .create__btn {
        font-size: 12px;
        padding: 15px 65px;
    }
    .create__btn span {
        padding-right: 0;
    }
    .create__btn span::after {
        display: none;
    }
    .warranty {
        padding-top: 55px;
        background: #f6f9f3;
    }
    .warranty__wrapper {
        padding-bottom: 62px;
        position: relative;
    }
    .warranty__title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .warranty__box {
        padding-top: 0;
    }
    .warranty__text {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 25px;
    }
    .warranty__certificate {
        margin-bottom: 35px;
    }
    .warranty .block__inner {
        background: none;
        padding: 0;
    }
    .warranty .block__container {
        border: none;
        position: static;
    }
    .warranty .block__content {
        padding: 0;
        text-align: center;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .legend {
        position: static;
        text-align: center;
        transform: none;
        padding: 0;
        background: none;
        line-height: 18px;
    }
    .warranty__btn {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        font-size: 12px;
    }
    .modal .block__container{
        padding: 15px 10px 60px;
    }
    .modal__btn,
    .modal-more .more__btn{
        padding: 15px 0;
        font-size: 12px;
    }
    .modal__btn span,
    .modal-more .more__btn span{
        padding-right: 0;
    }
    .modal__btn span::after,
    .modal-more .more__btn span::after{
        display: none;
    }
    .modal form{
        margin-bottom: 20px;
    }
}