
.more {
    margin-bottom: 90px;
}

.more__img {
    min-height: 545px;
    background-image: url(../img/more-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

.more .container::after {
    content: '';
    display: block;
    clear: both;
}

.more__wrapper {
    margin-top: -455px;
    position: relative;
    min-height: 670px;
}

.more__inner {
    max-width: 1070px;
    padding: 0px 15px;
    width: 100%;
    float: right;
    display: flex;
    justify-content: space-between;
}

.more__content {
    max-width: 570px;
    padding-top: 65px;
}

.more__title {
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.more__name {
    font-size: 60px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 35px;
}

.more__text {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 85px;
}

.block__inner {
    background-color: #fff;
    padding: 20px;
}

.block__container {
    border: 1px solid #c8dcba;
}

.more .block__container {
    padding-top: 40px;
}

.more .block__container::after {
    content: '';
    display: block;
    clear: both;
}

.form__content {
    padding: 0 45px;
}

.form__title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5;
    line-height: 22px;
    max-width: 190px;
    margin-bottom: 20px;
}

.form__inputs {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
}

input {
    background-color: transparent;
    color: #a8c48c;
    border: none;
    border-bottom: 1px solid #cddcbc;
    padding: 10px 0;
    outline: none;
}

.input-wrapper{
    position: relative;
}

.success input{
    border-bottom-color: #cddcbc;
    color: #a8c48c;
}

.success::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/correct.png);
    top: 100%;
    left: 50%;
    transform: translate(-50%, 2px);
}

.error input{
    color:#E74C3C;
    border-bottom-color: #E74C3C;
}

.error input:focus{
    color: #a8c48c;
    border-bottom-color: #cddcbc;
}

.error input:focus::-webkit-input-placeholder {
    color:#a8c48c;
}

.error input:focus::-moz-placeholder {
    color: #a8c48c;
}


/* Firefox 19+ */

.error input:focus:-moz-placeholder {
    color: #a8c48c;
}


/* Firefox 18- */

.error input:focus:-ms-input-placeholder {
    color: #a8c48c;
}

.error input::-webkit-input-placeholder {
    color:#E74C3C;
}

.error input::-moz-placeholder {
    color: #E74C3C;
}


/* Firefox 19+ */

.error input:-moz-placeholder {
    color: #E74C3C;
}


/* Firefox 18- */

.error input:-ms-input-placeholder {
    color: #E74C3C;
}

.error::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/error.png);
    top: 100%;
    left: 50%;
    transform: translate(-50%, 2px);
}

.more .input-wrapper{
    max-width: 215px;
    width: 100%;
}

.more__input {
    font-size: 14px;
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px white; /* цвет вашего фона */
    -webkit-text-fill-color: #a8c48c; /* цвет текста */
}

input::-webkit-input-placeholder {
    color: #a8c48c;
}

input::-moz-placeholder {
    color: #a8c48c;
}


/* Firefox 19+ */

input:-moz-placeholder {
    color: #a8c48c;
}


/* Firefox 18- */

input:-ms-input-placeholder {
    color: #a8c48c;
}

.default__btn {
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 22px;
    background-color: #7eb252;
}

.default__btn span {
    padding-right: 50px;
    position: relative;
}

.default__btn span::after {
    content: '';
    position: absolute;
    background-image: url(../img/arrow-right.png);
    right: 0;
    top: 4px;
    width: 32px;
    height: 10px;
}

.more__btn {
    float: right;
    padding-left: 70px;
    padding-right: 60px;
}

.more__btn-mobile {
    display: none;
}

.facts__inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.fact {
    padding: 35px 0 0 35px;
    width: 260px;
    position: relative;
}

.fact::before {
    content: '';
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 5px solid #e4eddc;
    position: absolute;
    top: 0;
    left: 0;
}

.fact__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    color: #a4c58c;
    margin-bottom: 25px;
}

.fact__title span {
    border-bottom: 3px solid #a4c58c;
}

.fact__text {
    width: 205px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.anatomy {
    padding-top: 200px;
    position: relative;
}

.anatomy .container::after {
    content: '';
    clear: both;
    display: block;
}

.anatomy__wrapper {
    position: relative;
    margin-bottom: 20px;
}

.anatomy__content {
    background: #f6f9f3;
}

.anatomy__inner {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.anatomy__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    max-width: 660px;
    margin-bottom: 45px;
}

.anatomy__list {
    max-width: 660px;
    width: 100%;
}

.anatomy__layout {
    width: 500px;
    margin-top: -180px;
    position: relative;
    padding-bottom: 20px;
}

.anatomy__layout-inner {
    background: #a4c58c;
    width: 100%;
}

.anatomy__img {
    position: relative;
    width: 500px;
    margin: 0px auto;
}

.item {
    padding: 24px 0;
    border-bottom: 1px solid #e6efde;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size: 14px;
    padding-right: 40px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.item:hover::after {
    content: '';
    background-image: url(../img/mini-arrow.png);
    height: 15px;
    width: 9px;
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 14px;
    transform: translateY(-50%);
}

.item__number {
    color: #a4c58c;
}

.item__text {
    padding-left: 15px;
}

.group__inner {
    display: flex;
}

.anatomy__list-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.anatomy__list-group .item {
    flex: 1;
    padding: 20px 0;
    padding-right: 40px;
}

.anatomy__list-group+.anatomy__list-group .item {
    padding-left: 35px;
    border-left: 1px solid #e6efde;
}

.anatomy__list-group .item__number {
    font-size: 12px;
}

.anatomy__list-group .item__text {
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
}

.anatomy .block__inner {
    max-width: 415px;
    width: 100%;
    background: #f6f9f3;
    position: absolute;
    bottom: 0;
}

.anatomy .block__container {
    padding: 30px 20px 30px 50px;
    position: relative;
}

.anatomy__layout-text {
    font-size: 16px;
    line-height: 24px;
}

.anatomy__layout-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #7eb152;
    background: #f6f9f3;
    padding: 0px 7px;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    transform: translateY(40%);
}

.marker {
    position: absolute;
    width: 45px;
    height: 45px;
    border: 10px solid rgb(255, 255, 255, 0.8);
    border-radius: 50%;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.marker__inner {
    background: #a5c98a;
    border-radius: 50%;
}

#item-1 {
    top: 190px;
    left: 145px;
}

#item-2 {
    top: 65px;
    left: 260px;
}

#item-3 {
    top: 10px;
    left: 227.5px;
}

#item-4 {
    top: 115px;
    left: 227.5px;
}

#item-5 {
    top: 10px;
    left: 227.5px;
}

#item-6 {
    top: 190px;
    left: 310px;
}

#item-7 {
    top: 10px;
    left: 227.5px;
}

#item-8 {
    top: 210px;
    left: 227.5px;
}

#item-9 {
    top: 100px;
    left: 227.5px;
}

.anatomy__btn {
    padding-left: 120px;
    float: right;
    padding-right: 100px;
}

.causes {
    padding-top: 200px;
}

.causes__wrapper {
    position: relative;
}

.causes__image {
    width: 51%;
    min-height: 645px;
    background-image: url(../img/causes__bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.causes__image img {
    display: none;
    width: 100%;
}

.causes__box {
    position: absolute;
    width: 100%;
    top: 0;
}

.causes__inner {
    display: flex;
    justify-content: space-between;
}

.causes__img {
    min-height: 645px;
    max-width: 620px;
    width: 100%;
    position: relative;
}

.causes__img .block__inner {
    position: absolute;
    bottom: -82px;
}

.causes .block__content {
    padding: 30px 70px 30px 30px;
}

.causes__btn {
    display: block;
    text-align: center;
    font-weight: 600;
}

.causes__btn-mobile {
    display: none;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

.causes__content {
    padding-top: 40px;
    max-width: 500px;
    width: 100%;
}

.causes__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
}

.causes__list-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 50px;
}

.list__item {
    font-size: 16px;
    line-height: 22px;
    padding-left: 40px;
    position: relative;
}

.list__item::before {
    content: '';
    height: 15px;
    width: 9px;
    background-image: url(../img/mini-arrow.png);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.list__item {
    margin-bottom: 40px;
}

.history {
    padding-top: 270px;
}

.history__wrapper {
    position: relative;
    min-height: 920px;
}

.history__img {
    float: right;
    background-image: url(../img/famoso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    width: 45%;
    min-height: 920px;
}

.history__box {
    position: absolute;
    width: 100%;
    top: 0;
}

.history__inner {
    padding-top: 80px;
}

.history__title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    max-width: 570px;
    margin-bottom: 40px;
}

.history__text {
    background: #f6f9f3;
    max-width: 715px;
    padding: 45px 30px 50px 0px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.history__text::before {
    content: '';
    position: absolute;
    background: #f6f9f3;
    height: 100%;
    right: 100%;
    top: 0;
    width: 260px;
}

.history__text p {
    margin: 15px 0px;
}

.history__bottom img {
    display: none;
}

.history__form {
    padding-top: 45px;
    max-width: 370px;
    margin-left: 220px;
}

.history__form-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.history .input-wrapper{
    margin-bottom: 30px;
}

.history__input {
    width: 100%;
}

.history__btn {
    display: block;
    text-align: center;
    width: 100%;
}

.history__btn span {
    padding-left: 20px;
}

.quote__wrapper-1 {
    background-image: url(../img/quote-bg-1.png);
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 610px;
}

.quote__wrapper-2 {
    background-image: url(../img/quote-bg-2.png);
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 620px;
}

.quote__inner {
    padding-top: 200px;
}

.quote__content {
    max-width: 780px;
    margin: 0px auto;
    border-top: 3px solid #a4c58c;
    border-bottom: 3px solid #a4c58c;
    text-align: center;
    padding: 55px 0;
}

.quote__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 35px;
}

.quote__name {
    font-size: 18px;
    line-height: 30px;
}

.quote__data {
    font-size: 16px;
    color: #9a9a9a;
}

.set {
    padding-top: 85px;
}

.set__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    max-width: 530px;
    margin-bottom: 100px;
}

.set__content {
    background-color: #f6f9f3;
    padding-bottom: 50px;
}

.set__inner {
    display: flex;
    justify-content: center;
    transform: translateY(-70px);
}

.set__item {
    max-width: 350px;
    max-height: 350px;
    width: 100%;
}

.set .block__inner,
.set .block__container {
    min-height: 100%;
    width: 100%;
}

.set .block__container {
    text-align: center;
    padding: 60px 0px 70px;
}

.set__item-number {
    font-weight: 900;
    font-size: 150px;
    line-height: 115px;
    letter-spacing: 5px;
    color: #f7f9f3;
    margin-bottom: 30px;
    position: relative;
}

.set img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.set__item-name {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.composition {
    padding-top: 190px;
}

.composition__row {
    display: flex;
    justify-content: space-between;
}

.composition__row-main {
    flex-wrap: wrap;
}

.composition__content {
    max-width: 530px;
}

.composition__title {
    font-weight: 700;
    max-width: 450px;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 45px;
}

.composition__title span {
    padding-right: 50%;
}

.composition__content-list {
    padding-left: 20px;
}

.composition__content-item {
    padding-left: 25px;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 30px;
}

.composition__content-item::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #a4c58c;
    top: 7px;
    left: 0;
}

.composition__item-wrapper {
    display: flex;
    max-width: 600px;
    width: 100%;
}

.composition__item {
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    width: 100%;
    border: 15px solid #fff;
    background-color: #f6f9f3;
    position: relative;
    color: #a4c58c;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
}

.composition__item-inner {
    width: 100%;
    height: 100%;
    cursor: default;
    padding: 20px;
    position: relative;
}

.composition__item-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.composition__name,
.composition__number {
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
    transform: rotate(-90deg);
}

.composition__number {
    font-weight: 700;
    top: 50px;
    left: 7px;
}

.composition__name {
    bottom: 15px;
    right: 32px;
}

.composition__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
}

.composition .block__container {
    max-width: 830px;
}

.composition .block__container::after {
    content: '';
    display: block;
    clear: both;
}

.composition .block__inner {
    padding-top: 37px;
    flex: 1 1 auto;
}

.composition .block__content-wrapper {
    padding: 35px 90px 0px 55px;
}

.composition .block__content {
    padding-left: 20px;
    margin-bottom: 30px;
    position: relative;
}

.composition .block__content::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #a4c58c;
    top: 7px;
    left: 0;
}

.composition .block__content p {
    font-size: 16px;
    line-height: 22px;
}

.composition__btn {
    padding-left: 60px;
    padding-right: 45px;
    float: right;
}

.composition__row-info .composition__item {
    flex: 1 0 auto;
}

.composition__item-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 250px;
    line-height: 22px;
    color: #cedfc0;
    letter-spacing: 0.5;
}

.composition__item-text {
    color: #303030;
    padding: 98px 102px 0px 25px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.composition__description {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(129, 168, 80);
    background-image: url(../img/item-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
}

.composition__description span {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 15px;
    position: absolute;
    text-align: center;
}

.reviews {
    padding-top: 170px;
}

.reviews__title {
    max-width: 480px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}

.reviews__title span {
    display: block;
}

.reviews__wrapper {
    overflow: hidden;
}

.reviews__header {
    display: flex;
    justify-content: flex-start;
}

.reviews__tab {
    padding: 25px 40px 25px 70px;
    background: #fff;
    font-weight: 700;
    color: #c3c3c3;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    max-width: 415px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.reviews__tab.active {
    background: #f6f9f3;
    color: #7eb152;
}

.reviews__tab[data-id='russian'].active::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 260px;
    background: #f6f9f3;
    right: 100%;
    top: 0;
}

.reviews__tab[data-id='foreign'].active::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 630px;
    background: #f6f9f3;
    left: 100%;
    top: 0;
}

.reviews__content {
    background: #f6f9f3;
    padding: 55px 0px 20px;
}

.reviews__inner {
    padding: 0px 70px;
}

.reviews__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews__item {
    max-width: 470px;
    width: 100%;
    margin-bottom: 35px;
    font-size: 16px;
}

.reviews__text {
    color: #9a9a9a;
    line-height: 22px;
    padding-top: 20px;
    margin-bottom: 15px;
    position: relative;
}

.reviews__text::before {
    content: '';
    background-image: url(../img/line-review.png);
    width: 31px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.reviews__autor {
    line-height: 36px;
    font-weight: 700;
}

#foreign {
    display: none;
}

.reviews__btns {
    padding-top: 20px;
}

.reviews__btns-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reviews__btn {
    padding-right: 20px;
    padding-left: 22px;
}

.reviews__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #7eb152;
    padding: 0px 7px;
    margin-right: 50px;
    text-align: center;
}

.reviews__link span {
    border-bottom: 1px solid #7eb152;
}

.create {
    padding-top: 200px;
}

.create__bg {
    max-width: 62.5%;
    width: 100%;
    min-height: 775px;
    background-image: url(../img/create-bg.jpg);
    background-position: center center;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.create__wrapper {
    position: relative;
}

.create__content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.create__inner {
    min-height: 775px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.create .block__inner {
    max-width: 680px;
}

.create .block__container {
    padding: 65px 45px 70px 65px;
    width: 100%;
}

.create__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
}

.create__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

.create__desc {
    margin-bottom: 60px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.create__btn {
    display: block;
    text-align: center;
    padding: 25px 0px;
    padding-left: 15px;
}

.warranty {
    padding-top: 295px;
}

.warranty__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 45px;
}

.warranty__wrapper {
    background: #f6f9f3;
    padding-bottom: 100px;
}

.warranty__box {
    padding: 35px 30px 0px 70px;
}

.warranty__inner {
    display: flex;
    justify-content: space-between;
}

.warranty__content {
    max-width: 575px;
}

.warranty__text {
    max-width: 515px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 45px;
}

.warranty .block__container {
    position: relative;
}

.warranty .block__container::after {
    content: '';
    display: block;
    clear: both;
}

.warranty .block__content {
    padding: 40px 45px 0px 45px;
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 22px;
}

.warranty__certificate {
    margin-top: -310px;
    margin-left: 15px;
}

.legend {
    position: absolute;
    top: 0;
    left: 37px;
    background: #fff;
    font-weight: 700;
    color: #a4c58c;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 0px 4px 0px 8px;
    transform: translateY(-50%);
}

.warranty__btn {
    padding-left: 60px;
    padding-right: 50px;
    float: right;
}

.modal{
    display: none;
    animation: .5s forwards;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modal-off{
    animation-name: modal-off;
}

.modal-on{
    animation-name: modal-on;
}

.modal,
.modal-cover{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal-cover{
    background: rgba(51, 51, 51, 0.5);
    z-index: 12;
}

.modal-view{
    max-width: 700px;
    width: 100%;
    z-index: 15;
    margin: 0 10px;
    position: relative;
    max-height: 90%;
}

.modal .block__inner{
    position: relative;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: firebrick;
    cursor: pointer;
    font-weight: 900;
    top: 0;
    right: 0;
}

.modal .block__container{
    padding: 35px 40px 62px;
    position: relative;
}

.modal__text{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.modal__input,
.modal-more .more__input{
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.modal .error::after,
.modal .success::after{
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
}

.modal .input-wrapper + .input-wrapper{
    margin-top: 20px;
}

.modal form{
    margin-bottom: 40px;
}

.modal__input::-webkit-input-placeholder {
    text-align: center;
}
.modal__input:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}
.modal__input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}
.modal__input:-ms-input-placeholder {
    text-align: center;
}

.modal__btn,
.modal-more .more__btn{
    position: absolute;
    float: none;
    bottom: 0;
    right: 0;
    padding-left: 65px;
    padding-right: 50px;
}

.modal-reviews .block__inner{
    padding-top: 0;
    padding-bottom: 0;
}

.modal-view::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(51, 51, 51, .7);
    border-radius: 5px;
}

.modal-view::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 5px;
    background: #A4C58C;
}

.modal-reviews .close__inner{
    position: fixed;
    width: inherit;
}

.modal-reviews .reviews__content{
    padding-bottom: 0;
}

.modal-reviews .reviews__block{
    flex-direction: column;
    align-items: center;
}

.notice{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    display: none;
    animation: 1s forwards;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    z-index: 20;
    max-width: 600px;
    width: 100%;
}

.notice.show{
    animation-name: notice-show;
}

.notice.hide{
    animation-name: notice-hide;
}

.notice .block__container{
    padding: 30px 35px;
}

@keyframes modal-off{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes modal-on{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes notice-show{
    0%{
        transform: translate(-50%, -100%);
    }
    100%{
        transform: translate(-50%, 0);
    }
}

@keyframes notice-hide{
    0%{
        transform: translate(-50%, 0);
    }
    100%{
        transform: translate(-50%, -100%);
    }
}